/* Default Matlab report CSS stylesheet

*/


/* Body style */
body 
{
    padding:25px;
    font-size: 14px;
}

/* Style applied to entire section */
.section
{
    font-family:arial;
}

/* Style applied to entire subsection */
.subsection
{
    font-family:arial;
    margin-left:5px;
}


/* Section Title text */
.section_title
{
    color:#333333;
    font-family:arial;
    font-weight:bold;
    font-size:20px;
    margin-top:25px;
    margin-bottom:5px;
}

/* Subsection Title Text */
.subsection_title
{
    color:#333333;
    font-family:arial;
    font-weight:bold;
    font-size:14px;
    margin-top:15px;
    margin-bottom:5px;
}

/* Image Caption */
.caption
{
    font-style:italic;
    font-weight:bold;
    font-family:serif;
}


.centered
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.left
{
    margin-left:25px;
}


/* Image */
img
{
    max-width:500px;
    height:auto;
}

.img_container
{
    width:500px;
    
}
